@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,400&display=swap");

/* Colors */
$main: #86B4C1;
$secondary: #317A89;
$dark: #024F59;
$light: #C5E1E4;


:root{
    /* Fonts */
    --font-poppins: 'Poppins', sans-serif;

}

