@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,400&display=swap");

/* Colors */
$main: #86B4C1;
$secondary: #317A89;
$dark: #024F59;
$light: #C5E1E4;
$lighter:#F6F6F6;
$background: #C8D4D0;
$main-background: #F6F6F6;
$error: #dbbebf;


$breakpoint-desktop:992px;
//1024px


:root{
    /* Fonts */
    --font-poppins: 'Poppins', sans-serif;

}

